.selection{
    background-color: #005573;
}
mat-icon{
    color: #005573;
}
.custom-color {
    background-color: #005573; /* Change the background color to blue */
    color:#d3d3d3; /* Change the text color to white */
  }