<demo></demo>
<br>
<mat-form-field>
  <mat-label>Select Manifest</mat-label>
  <mat-icon matPrefix>search</mat-icon> 
  <mat-select [(value)]="selectedManifestTypes" (selectionChange)="getAllManifests()" multiple>
    <mat-option class="selection" *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div id="network" style="width: 100%; height: 80vh; border: 1px solid lightgray;"></div>

<div class="container" (mouseenter)="showChoices = true" (mouseleave)="showChoices = false">
    <button class="custom-color" mat-fab>{{ buttonText }}</button>
    
    <div *ngIf="showChoices" class="choices">
      <button mat-icon-button (click)="selectChoice('Form')">
        <mat-icon class="icon-color">description</mat-icon>
      </button>
      <button mat-icon-button (click)="selectChoice('Yml File')">
        <mat-icon class="icon-color">note_add</mat-icon>
      </button>
      <button mat-icon-button (click)="selectChoice('Import Yml File')">
        <mat-icon class="icon-color">downloading</mat-icon>
      </button>
    </div>
  </div>