.description-frame {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    background-color: white; /* Adjust as needed */
    z-index: 9999; /* Adjust as needed */
    overflow-y: auto; 
  }
  